<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fff" />
    <link rel="icon" href="/fajny-spevnik/favicon.ico" />
    <link rel="apple-touch-icon" href="/fajny-spevnik/img/icon-192.png" />
    <link rel="stylesheet" href="/fajny-spevnik/web/style.css" />
    <link rel="manifest" href="/fajny-spevnik/manifest.json" />
    <title>Fajný spevník</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="title">
        <h1>Fajný spevník</h1>
      </div>
      <div class="content">%CONTENT%</div>
    </div>
    <div class="footer">
      <span class="footer-left">
        <input id="search" placeholder="Hľadať" autocomplete="off"/>
      </span>
    </div>
  </body>
  <script src="/fajny-spevnik/web/search.js" type="module"></script>
  <script src="/fajny-spevnik/web/registration.js" type="module"></script>
</html>
