<!DOCTYPE html>
<html lang="sk">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fff" />
    <link rel="icon" href="/fajny-spevnik/favicon.ico" />
    <link rel="apple-touch-icon" href="/fajny-spevnik/img/icon-192.png" />
    <link rel="stylesheet" href="/fajny-spevnik/web/style.css" />
    <link rel="manifest" href="/fajny-spevnik/manifest.json" />
    <title>%TITLE% – %ARTIST% – Fajný spevník</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="title">
        <h1>%TITLE%</h1>
        <div class="subheading">%ARTIST%</div>
      </div>
      <div class="content">%CONTENT%</div>
    </div>
    <div class="footer">
      <a href="/fajny-spevnik/" class="footer-left">&larr;</a>
      <span class="footer-right"
        ><button id="scale-sharp-flat">b</button> Stupnica
        <button id="trans-down">&darr;</button>
        <button id="trans-up">&uarr;</button></span
      >
    </div>
  </body>
  <script src="/fajny-spevnik/web/scale.js" charset="utf-8"></script>
</html>
