@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200..900;1,200..900");

* {
  box-sizing: border-box;
}

:root {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-y: hidden;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  line-height: 1.3;
}

.wrapper {
  display: grid;
  grid-template-columns: min-content max-content;
  grid-template-rows: auto;
  column-gap: 3rem;

  height: calc(100% - 3rem);
  padding: 2rem;
}

a,
button {
  display: inline;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  transition: font-weight 0.2s;
}

:is(a, button):hover {
  font-weight: 500;
  transition: font-weight 0.2s;
}

input {
  display: inline;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  font-weight: 500;
}

input::placeholder {
  font-weight: 400;
  color: inherit;
}

input:focus {
  outline: none;
}

.title {
  grid-column: 1;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: right;
  margin-top: 0.2em;
}

.title h1 {
  margin: 0;
  font-size: 1.7em;
  font-weight: 600;
}

.title .subheading {
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
}

.content {
  grid-column: 2;
  height: calc(100vh - 7rem);

  display: flex;
  flex-flow: column wrap;
}

.block {
  display: inline-block;
  writing-mode: horizontal-tb;
  max-width: min(90vw, 400px);
  margin-bottom: 2.5em;
  padding-right: 3.5em;
}

.song-li {
  max-width: min(90vw, 300px);
}

.song-li h1 {
  margin: 0;
  font-size: 1.3em;
  font-weight: 600;
  transition: font-weight 0.2s;
}

.song-li:hover h1 {
  font-weight: 700;
  transition: font-weight 0.2s;
}

.song-li .subheading {
  margin: 0;
  font-size: 1.2em;
  font-weight: 400;
  transition: font-weight 0.2s;
}

.song-li:hover .subheading {
  font-weight: 500;
  transition: font-weight 0.2s;
}

.chord {
  display: inline-block;
  transform: translateY(-0.2em);
  padding: 0 0.05em;
  font-weight: 600;
  font-style: normal;
}

.tab {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.9em;
  font-weight: 500;
}

.tab-note {
  display: flex;
  flex-shrink: 2;
  flex-direction: column-reverse;
  margin: 0.4em 0;
}

.tab-note div {
  height: 1.4em;
  padding: 0 0.35em;
  position: relative;
  text-align: center;
}

.tab-note div span {
  background-color: white;
}

.tab-note div::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1px;
  background-color: black;
}

.tab-bar {
  width: 0.8em;
}

.tab-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: auto;
  width: 2px;
  height: 100%;
  background-color: black;
}

.footer {
  display: grid;
  grid-template-columns: max-content auto max-content;
  align-items: baseline;
  position: fixed;
  left: 2rem;
  bottom: 1.8rem;
  width: calc(100% - 4rem);
}

.footer-left {
  grid-column: 1;
}

.footer-right {
  grid-column: 3;
}

.footer-right input {
  text-align: right;
}
